<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.micheladrion.barcode"
        version="0.7.0">

  <name>Barcode</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/barcode.js" target="js/barcode.js"/>

  <js-module src="www/barcode.js" name="Barcode">
    <clobbers target="barcode" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Barcode">
        <param name="android-package" value="com.micheladrion.plugin.Barcode"/>
      </feature>
    </config-file>

    <source-file src="src/android/Barcode.java" target-dir="src/com/micheladrion/plugin/"/>
	
	<source-file src="src/android/src/com/zkc/beep/ServiceBeepManager.java" target-dir="src/com/zkc/beep/"/>
	<source-file src="src/android/src/com/zkc/io/EmGpio.java" target-dir="src/com/zkc/io/"/>
	<source-file src="src/android/src/com/zkc/pc700/helper/ScanGpio.java" target-dir="src/com/zkc/pc700/helper/"/>
	<source-file src="src/android/src/com/zkc/pc700/helper/SerialPort.java" target-dir="src/com/zkc/pc700/helper/"/>
	<source-file src="src/android/src/com/zkc/Receiver/RemoteControlReceiver.java" target-dir="src/com/zkc/Receiver/"/>
	<source-file src="src/android/src/com/zkc/Receiver/StartReceiver.java" target-dir="src/com/zkc/Receiver/"/>
	<source-file src="src/android/src/com/zkc/Service/CaptureService.java" target-dir="src/com/zkc/Service/"/>
	
	<resource-file src="src/android/res/raw/beep.ogg" target="res/raw/beep.ogg" />
	<resource-file src="src/android/res/raw/bide.ogg" target="res/raw/bide.ogg" />
	<resource-file src="src/android/res/raw/camera_click.ogg" target="res/raw/camera_click.ogg" />
	
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>